---
import { formatDistanceToNow } from "date-fns";
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const developingFor = formatDistanceToNow(new Date("2009-11-01"));
const rnFor = formatDistanceToNow(new Date("2018-06-01"));

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi there 👋</div>
    <div class="text-5xl font-bold">I'm Michele</div>
    <div class="text-3xl py-3 font-bold">
      Your friendly React Native Connoisseur
    </div>
    <div class="py-2">
      <text class="text-lg">
        <p>
          I'm a Software Engineer based in Berlin, Germany. I've been developing
          web and mobile apps professionally for {developingFor} (and counting 🚀).
        </p>
        <p class="mt-4">
          Originally a Backend Developer (working with Java, Kotlin, and Python,
          but doing some Linux sysadmin as well&mdash;those were the days), I
          transitioned to a Full Stack role with React on the Frontend, and
          eventually shifted focus to mobile and TV app development with React
          Native, which I've been doing for {rnFor}.
        </p>
        <p class="mt-4">
          I occasionally give talks and have been a member of the Program
          Committee for <a
            class="underline"
            href="https://reactday.berlin/"
            target="_blank">React Day Berlin</a
          > since 2023.
        </p>
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/michelebonazza/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="NDA Project"
    img="/post_img.webp"
    desc="I'm currently working as Principal Engineer on TV apps for a company I'm not allowed to mention 🤫"
    badge="Freelancing"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="JustWatch"
    img="/post_img.webp"
    desc="JustWatch is one of the biggest Streaming Guides in the world, helping millions of users finding what to watch (and where) every month. I rewrote their mobile apps from scratch in React Native and led the mobile team for about a year. Before that, I revamped their TV apps, also written in React Native."
    url="https://justwatch.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Urbi"
    img="/post_img.webp"
    desc="Urbi is a Shared Mobility aggregator, guiding its users through the maze of car, scooter, and bike sharing offers in their cities. I initially worked on the Spring Boot based Backend, and moved on to rewrite their mobile apps from scratch in React Native."
    url="https://en.urbi.co/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
